# Copie para .env com: ./scripts/bootstrap-secrets.sh
AIRFLOW_IMAGE_NAME=apache/airflow:3.3.1-python3.12
AIRFLOW_UID=50000
AIRFLOW_BIND_ADDRESS=127.0.0.1
AIRFLOW_PORT=8080
AIRFLOW_PUBLIC_URL=https://honda.tailf3785c.ts.net
POSTGRES_USER=airflow
POSTGRES_DB=airflow
POSTGRES_PASSWORD=CHANGE_ME
AIRFLOW_FERNET_KEY=CHANGE_ME
AIRFLOW_API_SECRET_KEY=CHANGE_ME
AIRFLOW_JWT_SECRET=CHANGE_ME
POC_AUDIT_HMAC_KEY=CHANGE_ME
GRAFANA_ADMIN_PASSWORD=CHANGE_ME
BUSINESS_DB_PASSWORD=CHANGE_ME
